[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-testing = "*"
gunicorn = "*"
coverage = "*"
flask-debugtoolbar = "*"
flask-cors = "*"
flask-migrate = "*"
flask-bcrypt = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
